<!--extending from the base.html layout-->
{% extends "base.html"%}

<!--setting the page title-->
{% block head %}
<title>Home page</title>
{% endblock %}

<!--using the header layout for the header-->
{% block header %}
<section class="header">

    <div class="text-box">
        <h2>FastQC</h2>
        <p> On this website the FastQC tool is interactively available. Go to
            <a href="{{ url_for('project')}}" class="tekst-ref">project info</a> <br> <!--reference in text to the project page-->
            for a longer description of this project.
        </p>
        <a href="{{ url_for('fastqc')}}" class="knopje">Go directly to tool</a>  <!--button to take
        you to the tools page-->
    </div>

</section>
{% endblock %}






