<!--extending from the base.html layout-->
{% extends "base.html"%}

<!--setting the page title-->
{% block head %}
<title>tool information page</title>
{% endblock %}

<!--using the sub-header layout for the header-->
{% block subheader %}
    <section class="sub-header">
       <h1>Tool info</h1>
   </section>
{% endblock%}

<!--adding the pages content to the base body-->
{% block body%}

   <section class="tool_info">
       <div class="row">  <!--dividing the page into 2 colomns-->

           <div class="tool-col"> <!--column 1; text-->
               <h3>Background information about the FastQC tool</h3>
               <p> The FastQC tool quality controls fastq-, SAM- or BAM-files. These files
                   contain, among other things, genetic information in the format of nucleotides
                   and a quality score per base, also known as Phred Scores which connects a ASCII
                   symbol
                   to the probability of error. <small>(BAM File Format.; Sequence Alignment/Map
                       Format Specification.2009; Li et al., 2009)</small>  These filetypes come
                   from Next-Generation Sequencing. This is a process of determining the
                   sequence order of a piece of genetic material, DNA or RNA. <small>(DNA sequencing
                       (article) | Biotechnology.)</small>. Next-Generation Sequencing is newer,
                   cheaper, faster and of a larger scale than Sanger sequencing, which was used for
                   the 'Human Genome Project'. <small>(Human Genome Project Timeline.; Campen,
                       Dr Amy Frost,    Dr Julia van)</small> The FastQC tool is usually part of a
                   pipeline whereby it is a first step after the raw data is obtained. It is a
                   widely applicable tool, which is useful for many different types of research.
                   The tool can execute up to 11 different types of tests, which can warn the user
                   of, for example, systematics faults or contamination of the sample. Based on the
                   results the user can determine to proceed with the data or decide to improve it
                   by, for example, trimming it. The 11 tests have standard parameters for normal,
                   slightly unusual or highly unlikely results. But for different projects the
                   desirable or logical parameters can vary quite a bit. Therefore, it is
                   important that the user can edit the parameters of warning and error per test,
                   to have a accurate analasis and rapport for their specific project and dataset.
                   <small>(Babraham bioinf, 2010)</small>
               </p>
           </div>

           <div class="tool-col">  <!--colomn 2; image-->
               <img src="../static/images/FastQC_report.jpg" alt="Graph made using FastQC">
           </div>
       </div>
   </section>

{% endblock%}